<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pmu.nfc_data_transfer_app">

    <!--  Modern  -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Legacy   -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <!-- Permission for devices below Android 13 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo_professional"
        android:roundIcon="@drawable/ic_app_logo_professional"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCDataTransfer"
        tools:targetApi="31">
        <activity
            android:name="com.pmu.nfc_data_transfer_app.ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <!-- Supported MIME types -->
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pmu.nfc_data_transfer_app.ui.activities.UploadFilesActivity"
            android:exported="false"
            android:parentActivityName="com.pmu.nfc_data_transfer_app.ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.NFCDataTransfer"
            android:parentActivityName=".ui.activities.MainActivity"/>

        <activity
            android:name=".ui.activities.FileSendActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.FileReceiveActivity"
            android:exported="false"
            android:label="@string/receiving_files"
            android:theme="@style/Theme.NFCDataTransfer"/>

        <activity
            android:name=".ui.activities.TransferHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.TransferDetailsActivity"
            android:exported="false" />
    </application>

</manifest>